@import "./colors.less";

footer {
  color: #cdcdcd;
  background-color: @accent-dark;

  font-size: 1rem;

  padding: 2rem 1rem 1rem;

  p {
    margin: 0;
  }

  a {
      color: white;
      text-decoration: none;
  }
}
