@import "./styles/colors.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
}

h2,
h3 {
  font-size: 2.5rem;
  padding: 0 0.5rem;
  color: @primary-red;
}

a {
  color: @primary-pink;
}

p {
  max-width: 60ch;
  padding: 0 0.5rem;
  margin: 0.5rem 0;
}

@import "./styles/header.less";
@import "./styles/intro.less";
